* {
    padding: 0;
    margin: 0;
    vertical-align: baseline;
    list-style: none;
    border: 0;
    font-family: 'Spartan', sans-serif;
    font-weight: 700;
}

:root {
    --background-body: hsl(222, 26%, 31%);
    --color-text: #fff;
    --background-result: hsl(224, 36%, 15%);
    --background-calculator: hsl(223, 31%, 20%);
    --background-button: hsl(30, 25%, 89%);
    --color-text-button: hsl(60, 10%, 19%);
    --shadow-button: hsl(28, 16%, 65%);
    --background-button-del: hsl(225, 21%, 49%);
    --background-button-reset: hsl(225, 21%, 49%);
    --shadow-button-del: hsl(224, 28%, 35%);
    --shadow-button-reset: hsl(224, 28%, 35%);
    --background-button-equal: hsl(6, 63%, 50%);
    --shadow-button-equal: hsl(6, 70%, 34%);
    --color-text-equal: #fff;
}

/* theme one */

/* #theme {
    width: 100%;
    height: 20px;
    -webkit-appearance: none;
} */

.theme {
    -webkit-appearance: none;
    background: hsl(223, 31%, 20%);
    outline: none;
    width: 100%;
    height: 25px;
    border-radius: 15px;
    /* padding: 0 5px; */
}

.theme::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 18px;
    height: 18px;
    border-radius: 50%;

    background: var(--background-button-equal);
    cursor: pointer;
}

.theme::-moz-range-thumb {
    width: 18px;
    height: 18px;
    border-radius: 50%; 

    background: var(--background-button-equal);
    cursor: pointer;
}

body {
    background-color: var(--background-body);
    max-width: 1440px;
    height: 900px;
}

.title {
    color: var(--color-text);
    font-size: 32px;
    margin: 105px auto 35px auto;
    width: 510px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.title > span {
    padding-left: 110px;
}

.title > div {
    display: flex;
    flex-direction: column-reverse;
    margin-top: -32px;
}

.title .range_values {
    display: flex;
    justify-content: space-between;
    /* padding: 0 10px; */
}

/* Resultado do calculo */
.result {
    background-color: var(--background-result);
    color: var(--color-text);
    text-align: right;
    width: 510px;
    height: 128px;
    margin: 0 auto 35px auto;
    border-radius: 10px;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    display: table;
}

.result .result_calc {
    padding-right: 20px;
    font-size: 32px;
    display: table-cell;
    vertical-align: middle;
}

.calculator {
    width: 510px;
    background-color: var(--background-calculator);
    margin: 0 auto;
    border-radius: 10px;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    /* padding: 30px; */
}

.calculator article {
    padding-top: 20px;
    display: flex;
    justify-content: space-between;
    padding: 30px 30px 0 30px;
}

.calculator article:last-child {
    padding-bottom: 30px;
}

/* .calculator article:first-child {
    padding-top: 0px;
} */

.calculator article:last-child button {
    width: calc(50% - 10px);
}

.calculator article button:last-child {
    margin-right: 0;
}

.calculator article button {
    width: 100px;
    padding: 10px 20px 10px 20px;
    border-radius: 10px;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    margin-right: 20px;
    font-size: 32px;
    -webkit-box-shadow: 0px 3px 1px var(--shadow-button);
    -moz-box-shadow: 0px 3px 1px var(--shadow-button);
    box-shadow: 0px 3px 1px var(--shadow-button);
    background-color: var(--background-button);
    color: var(--color-text-button);
}

.calculator .button_del {
    background-color: var(--background-button-del);
    color: #fff;
    text-transform: uppercase;
    -webkit-box-shadow: 0px 3px 1px var(--shadow-button-del);
    -moz-box-shadow: 0px 3px 1px var(--shadow-button-del);
    box-shadow: 0px 3px 1px var(--shadow-button-del);
}
.calculator .reset {
    background-color: var(--background-button-del);
    color: #fff;
    text-transform: uppercase;
    -webkit-box-shadow: 0px 3px 1px var(--shadow-button-reset);
    -moz-box-shadow: 0px 3px 1px var(--shadow-button-reset);
    box-shadow: 0px 3px 1px var(--shadow-button-reset);
}

.calculator .equal_to {
    background-color: var(--background-button-equal);
    color: var(--color-text-equal);
    text-transform: uppercase;
    -webkit-box-shadow: 0px 3px 1px var(--shadow-button-equal);
    -moz-box-shadow: 0px 3px 1px var(--shadow-button-equal);
    box-shadow: 0px 3px 1px var(--shadow-button-equal);
}